<div class="footer" th:fragment="footer">
    <div class="footer-text">&#169;&nbsp;Александр Евтеев</div>
    <table class="footer_table">
        <tr>
            <td>Tel:</td>
            <td><a href="tel:+79859284108">+7 985 928-41-08</a></td>
        </tr>
        <tr>
            <td>Telegram:</td>
            <td><a href="https://t.me/evteev777">@evteev777</a></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><a href="mailto:evteev777@gmail.com">evteev777@gmail.com</a></td>
        </tr>
        <tr>
            <td>GitHub:</td>
            <td><a href="https://github.com/evteev777">github.com/evteev777</a></td>
        </tr>
    </table>
</div>
