<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">

    <!--TODO css-->
    <link rel="stylesheet" href="style.css">
    <title>Конвертация</title>
</head>
<body>
<h1>Конвертер валют</h1>
<h2>Конвертация</h2>
<p><a href="/">На главную</a></p>

<form action="#" th:action="@{/converter}" th:object="${exchange}" th method="post">

    <select id="sourceCurrency" name="sourceCurrency">
        <option value="0">Из валюты</option>
        <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.charCode}"></option>
    </select>

    <select id="targetCurrency" name="targetCurrency">
        <option value="0">В валюту</option>
        <option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.charCode}"></option>
    </select>

    <div><label> Amount : <input type="text" name="amount"/> </label></div>

    <div><input type="submit" value="Ok"/></div>
</form>
<h3>История конвертаций</h3>
<table border="2">
    <tr th:each = "exch: ${exchanges}">
        <td th:text="${exch.client.username}"></td>
        <td th:text="${exch.date}"></td>
        <td th:text="${exch.amount}"></td>
        <td th:text="${exch.sourceCurrency.name}"></td>
        <td>=</td>
        <td th:text="${exch.result}"></td>
        <td th:text="${exch.targetCurrency.name}"></td>
    </tr>
</table>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выход"/>
    </form>
</div>
<div>
    <h4>&#169;&nbsp;Александр Евтеев</h4>
    <a href="tel:+79859284108">+7 985 928-41-08</a><br>
    <a href="mailto:evteev777@gmail.com">evteev777@gmail.com</a><br>
    <a href="https://github.com/evteev777/currency-converter">https://github.com/evteev777</a>
</div>
</body>
</html>